.filmMainInfo{
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
}
#filmMainInfo a{
    text-decoration: none;
    color: gold;
}
#filmMainInfo a:hover{
    text-decoration: underline;
}
.filmMainInfo_fog{
    width: 100%;
    display: flex;
    background-color: rgba(64, 64, 64,0.7);
    padding: 20px 30px;
    column-gap: 30px;
}
.filmMainInfo_image{
    min-width: 250px;
    height: 350px;
    box-shadow: 0px 0px 9px 7px rgb(34 60 80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}
.filmMainInfo_image p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: -45px;
    right: 50%;
    transform: translateX(50%);
    margin: 0;
    width: 100%;
    cursor: pointer;
}
.filmMainInfo_image p:hover{
    color: gold;
}
.filmInfo{
    color: white;
}
.filmInfo h2{
    font-size: 30px;
}
.filmInfo h2 span{
    margin-left: 10px;
}
.filmInfo>p{
    font-weight: bold;
    letter-spacing: 1px;
}
.filmInfo>p>span{
    font-weight: normal;
}
.filmInfo p:last-child{
    line-height: 2;
}