.mainWrapper{
    background: rgb(0, 0, 0) url("../image/mainBG.jpg")no-repeat top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 120px 20px 0;
}
.contentWrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}