body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family:'Work_Sans';
  src: local('Work_Sans'),url("../font/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
*{
  box-sizing: border-box;
  font-family:'Work_Sans',sans-serif;
}
form{
  height: 0;
}



